<a href="https://colab.research.google.com/github/Dhruv-Limbani/Financial-Sentiment-Analysis-using-NLP/blob/master/BiLSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/Dhruv-Limbani/Financial-Sentiment-Analysis-using-NLP/blob/master/BERT_and_LSTM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [126]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, SpatialDropout1D, LSTM, Bidirectional, Dense
from tensorflow.keras.utils import to_categorical

In [127]:
df = pd.read_csv('/content/Preprocessed_Data.csv')
df = df.drop('label',axis=1)
df

,sentence,Sentiment,text_length,cleaned_text,tokenized_text,word_lengths,document_length,bigrams,trigrams,avg_word_length
0,"According to Gran , the company has no plans t...",neutral,127,according gran company plan move production ru...,"['according', 'gran', 'company', 'plan', 'move...","[9, 4, 7, 4, 4, 10, 6, 8, 7, 7]",10,"[('according', 'gran'), ('gran', 'company'), (...","[('according', 'gran', 'company'), ('gran', 'c...",6.600000
1,"For the last quarter of 2010 , Componenta 's n...",positive,193,last quarter 2010 componenta net sale doubled ...,"['last', 'quarter', '2010', 'componenta', 'net...","[4, 7, 4, 10, 3, 4, 7, 7, 6, 6, 4, 7, 5, 4, 3,...",21,"[('last', 'quarter'), ('quarter', '2010'), ('2...","[('last', 'quarter', '2010'), ('quarter', '201...",5.000000
2,"In the third quarter of 2010 , net sales incre...",positive,125,third quarter 2010 net sale increased 5 2 eur ...,"['third', 'quarter', '2010', 'net', 'sale', 'i...","[5, 7, 4, 3, 4, 9, 1, 1, 3, 3, 1, 2, 9, 6, 2, ...",20,"[('third', 'quarter'), ('quarter', '2010'), ('...","[('third', 'quarter', '2010'), ('quarter', '20...",3.450000
3,Operating profit rose to EUR 13.1 mn from EUR ...,positive,122,operating profit rose eur 13 1 mn eur 8 7 mn c...,"['operating', 'profit', 'rose', 'eur', '13', '...","[9, 6, 4, 3, 2, 1, 2, 3, 1, 1, 2, 13, 6, 4, 12...",19,"[('operating', 'profit'), ('profit', 'rose'), ...","[('operating', 'profit', 'rose'), ('profit', '...",4.105263
4,"Operating profit totalled EUR 21.1 mn , up fro...",positive,103,operating profit totalled eur 21 1 mn eur 18 6...,"['operating', 'profit', 'totalled', 'eur', '21...","[9, 6, 8, 3, 2, 1, 2, 3, 2, 1, 2, 4, 12, 1, 1,...",17,"[('operating', 'profit'), ('profit', 'totalled...","[('operating', 'profit', 'totalled'), ('profit...",3.764706
...,...,...,...,...,...,...,...,...,...,...
2259,Operating result for the 12-month period decre...,negative,143,operating result 12 month period decreased pro...,"['operating', 'result', '12', 'month', 'period...","[9, 6, 2, 5, 6, 9, 6, 4, 1, 8, 9, 4, 1, 8, 4]",15,"[('operating', 'result'), ('result', '12'), ('...","[('operating', 'result', '12'), ('result', '12...",5.466667
2260,HELSINKI Thomson Financial - Shares in Cargote...,negative,248,helsinki thomson financial share cargotec fell...,"['helsinki', 'thomson', 'financial', 'share', ...","[8, 7, 9, 5, 8, 4, 7, 5, 9, 5, 5, 8, 5, 6, 8, ...",27,"[('helsinki', 'thomson'), ('thomson', 'financi...","[('helsinki', 'thomson', 'financial'), ('thoms...",6.185185
2261,LONDON MarketWatch -- Share prices ended lower...,negative,144,london marketwatch share price ended lower lon...,"['london', 'marketwatch', 'share', 'price', 'e...","[6, 11, 5, 5, 5, 5, 6, 6, 7, 4, 5, 6, 6, 7, 8,...",17,"[('london', 'marketwatch'), ('marketwatch', 's...","[('london', 'marketwatch', 'share'), ('marketw...",5.823529
2262,Operating profit fell to EUR 35.4 mn from EUR ...,negative,108,operating profit fell eur 35 4 mn eur 68 8 mn ...,"['operating', 'profit', 'fell', 'eur', '35', '...","[9, 6, 4, 3, 2, 1, 2, 3, 2, 1, 2, 4, 9, 6, 4, ...",20,"[('operating', 'profit'), ('profit', 'fell'), ...","[('operating', 'profit', 'fell'), ('profit', '...",3.500000
2263,Sales in Finland decreased by 10.5 % in Januar...,negative,95,sale finland decreased 10 5 january sale outsi...,"['sale', 'finland', 'decreased', '10', '5', 'j...","[4, 7, 9, 2, 1, 7, 4, 7, 7, 7, 2]",11,"[('sale', 'finland'), ('finland', 'decreased')...","[('sale', 'finland', 'decreased'), ('finland',...",5.181818

In [128]:
label_encoder = LabelEncoder()
df['label'] = label_encoder.fit_transform(df['Sentiment'])

In [129]:
df

,sentence,Sentiment,text_length,cleaned_text,tokenized_text,word_lengths,document_length,bigrams,trigrams,avg_word_length,label
0,"According to Gran , the company has no plans t...",neutral,127,according gran company plan move production ru...,"['according', 'gran', 'company', 'plan', 'move...","[9, 4, 7, 4, 4, 10, 6, 8, 7, 7]",10,"[('according', 'gran'), ('gran', 'company'), (...","[('according', 'gran', 'company'), ('gran', 'c...",6.600000,1
1,"For the last quarter of 2010 , Componenta 's n...",positive,193,last quarter 2010 componenta net sale doubled ...,"['last', 'quarter', '2010', 'componenta', 'net...","[4, 7, 4, 10, 3, 4, 7, 7, 6, 6, 4, 7, 5, 4, 3,...",21,"[('last', 'quarter'), ('quarter', '2010'), ('2...","[('last', 'quarter', '2010'), ('quarter', '201...",5.000000,2
2,"In the third quarter of 2010 , net sales incre...",positive,125,third quarter 2010 net sale increased 5 2 eur ...,"['third', 'quarter', '2010', 'net', 'sale', 'i...","[5, 7, 4, 3, 4, 9, 1, 1, 3, 3, 1, 2, 9, 6, 2, ...",20,"[('third', 'quarter'), ('quarter', '2010'), ('...","[('third', 'quarter', '2010'), ('quarter', '20...",3.450000,2
3,Operating profit rose to EUR 13.1 mn from EUR ...,positive,122,operating profit rose eur 13 1 mn eur 8 7 mn c...,"['operating', 'profit', 'rose', 'eur', '13', '...","[9, 6, 4, 3, 2, 1, 2, 3, 1, 1, 2, 13, 6, 4, 12...",19,"[('operating', 'profit'), ('profit', 'rose'), ...","[('operating', 'profit', 'rose'), ('profit', '...",4.105263,2
4,"Operating profit totalled EUR 21.1 mn , up fro...",positive,103,operating profit totalled eur 21 1 mn eur 18 6...,"['operating', 'profit', 'totalled', 'eur', '21...","[9, 6, 8, 3, 2, 1, 2, 3, 2, 1, 2, 4, 12, 1, 1,...",17,"[('operating', 'profit'), ('profit', 'totalled...","[('operating', 'profit', 'totalled'), ('profit...",3.764706,2
...,...,...,...,...,...,...,...,...,...,...,...
2259,Operating result for the 12-month period decre...,negative,143,operating result 12 month period decreased pro...,"['operating', 'result', '12', 'month', 'period...","[9, 6, 2, 5, 6, 9, 6, 4, 1, 8, 9, 4, 1, 8, 4]",15,"[('operating', 'result'), ('result', '12'), ('...","[('operating', 'result', '12'), ('result', '12...",5.466667,0
2260,HELSINKI Thomson Financial - Shares in Cargote...,negative,248,helsinki thomson financial share cargotec fell...,"['helsinki', 'thomson', 'financial', 'share', ...","[8, 7, 9, 5, 8, 4, 7, 5, 9, 5, 5, 8, 5, 6, 8, ...",27,"[('helsinki', 'thomson'), ('thomson', 'financi...","[('helsinki', 'thomson', 'financial'), ('thoms...",6.185185,0
2261,LONDON MarketWatch -- Share prices ended lower...,negative,144,london marketwatch share price ended lower lon...,"['london', 'marketwatch', 'share', 'price', 'e...","[6, 11, 5, 5, 5, 5, 6, 6, 7, 4, 5, 6, 6, 7, 8,...",17,"[('london', 'marketwatch'), ('marketwatch', 's...","[('london', 'marketwatch', 'share'), ('marketw...",5.823529,0
2262,Operating profit fell to EUR 35.4 mn from EUR ...,negative,108,operating profit fell eur 35 4 mn eur 68 8 mn ...,"['operating', 'profit', 'fell', 'eur', '35', '...","[9, 6, 4, 3, 2, 1, 2, 3, 2, 1, 2, 4, 9, 6, 4, ...",20,"[('operating', 'profit'), ('profit', 'fell'), ...","[('operating', 'profit', 'fell'), ('profit', '...",3.500000,0
2263,Sales in Finland decreased by 10.5 % in Januar...,negative,95,sale finland decreased 10 5 january sale outsi...,"['sale', 'finland', 'decreased', '10', '5', 'j...","[4, 7, 9, 2, 1, 7, 4, 7, 7, 7, 2]",11,"[('sale', 'finland'), ('finland', 'decreased')...","[('sale', 'finland', 'decreased'), ('finland',...",5.181818,0

In [160]:
train_texts, test_texts, train_labels, test_labels = train_test_split(
    df['sentence'], df['label'], test_size=0.2, random_state=42, stratify=df['label']
)

In [133]:
max_words = 10000
max_len = 200

In [134]:
tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(train_texts)

In [135]:
train_sequences = tokenizer.texts_to_sequences(train_texts)
test_sequences = tokenizer.texts_to_sequences(test_texts)

In [136]:
train_padded = pad_sequences(train_sequences, maxlen=max_len, padding='post')
test_padded = pad_sequences(test_sequences, maxlen=max_len, padding='post')

In [137]:
train_labels = to_categorical(train_labels, num_classes=3)
test_labels = to_categorical(test_labels, num_classes=3)

In [138]:
model = Sequential()
model.add(Embedding(max_words+1, 100, input_length=max_len))
model.add(SpatialDropout1D(0.2))
model.add(Bidirectional(LSTM(128, return_sequences=False, recurrent_dropout=0.2)))
model.add(Dense(128, activation='relu'))
model.add(Dense(3, activation='softmax'))

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
model.summary()

/usr/local/lib/python3.10/dist-packages/keras/src/layers/core/embedding.py:90: UserWarning: Argument `input_length` is deprecated. Just remove it.
  warnings.warn(

Model: "sequential_13"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━┓
┃ Layer (type)                         ┃ Output Shape                ┃         Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━┩
│ embedding_13 (Embedding)             │ ?                           │     0 (unbuilt) │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ spatial_dropout1d_13                 │ ?                           │     0 (unbuilt) │
│ (SpatialDropout1D)                   │                             │                 │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ bidirectional_12 (Bidirectional)     │ ?                           │     0 (unbuilt) │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_29 (Dense)                     │ ?                           │     0 (unbuilt) │
├──────────────────────────────────────┼─────────────────────────────┼─────────────────┤
│ dense_30 (Dense)                     │ ?                           │     0 (unbuilt) │
└──────────────────────────────────────┴─────────────────────────────┴─────────────────┘

 Total params: 0 (0.00 B)

 Trainable params: 0 (0.00 B)

 Non-trainable params: 0 (0.00 B)

In [139]:
history = model.fit(
    train_padded, train_labels,
    validation_data=(test_padded, test_labels),
    epochs=15,
    batch_size=32,
    verbose=1
)

Epoch 1/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 42s 667ms/step - accuracy: 0.6276 - loss: 0.8825 - val_accuracy: 0.7439 - val_loss: 0.5284
Epoch 2/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 40s 700ms/step - accuracy: 0.7710 - loss: 0.5294 - val_accuracy: 0.8079 - val_loss: 0.4418
Epoch 3/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 40s 683ms/step - accuracy: 0.8416 - loss: 0.3612 - val_accuracy: 0.7903 - val_loss: 0.4407
Epoch 4/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 41s 678ms/step - accuracy: 0.8540 - loss: 0.2854 - val_accuracy: 0.8168 - val_loss: 0.3990
Epoch 5/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 37s 648ms/step - accuracy: 0.8639 - loss: 0.2618 - val_accuracy: 0.7991 - val_loss: 0.4598
Epoch 6/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 42s 659ms/step - accuracy: 0.9033 - loss: 0.2117 - val_accuracy: 0.8477 - val_loss: 0.4241
Epoch 7/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 37s 644ms/step - accuracy: 0.9586 - loss: 0.1049 - val_accuracy: 0.8874 - val_loss: 0.3636
Epoch 8/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 41s 637ms/step - accuracy: 0.9799 - loss: 0.0497 - val_accuracy: 0.8543 - val_loss: 0.4268
Epoch 9/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 42s 648ms/step - accuracy: 0.9922 - loss: 0.0259 - val_accuracy: 0.8940 - val_loss: 0.3909
Epoch 10/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 39s 683ms/step - accuracy: 0.9937 - loss: 0.0146 - val_accuracy: 0.9095 - val_loss: 0.3897
Epoch 11/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 39s 648ms/step - accuracy: 0.9993 - loss: 0.0066 - val_accuracy: 0.8985 - val_loss: 0.4333
Epoch 12/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 40s 638ms/step - accuracy: 0.9951 - loss: 0.0425 - val_accuracy: 0.9117 - val_loss: 0.4328
Epoch 13/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 41s 645ms/step - accuracy: 0.9984 - loss: 0.0093 - val_accuracy: 0.8985 - val_loss: 0.5232
Epoch 14/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 41s 639ms/step - accuracy: 0.9931 - loss: 0.0218 - val_accuracy: 0.9007 - val_loss: 0.4638
Epoch 15/15
57/57 ━━━━━━━━━━━━━━━━━━━━ 43s 678ms/step - accuracy: 0.9994 - loss: 0.0052 - val_accuracy: 0.9051 - val_loss: 0.5818

In [140]:
eval_results = model.evaluate(test_padded, test_labels)
print(f"Test Loss: {eval_results[0]}, Test Accuracy: {eval_results[1]}")

15/15 ━━━━━━━━━━━━━━━━━━━━ 2s 137ms/step - accuracy: 0.9156 - loss: 0.5176
Test Loss: 0.5817634463310242, Test Accuracy: 0.9050772786140442

In [141]:
model.save('bilstm_sentiment_model.h5')

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.